h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
}

.contact-container {
    padding: 25px;
    background-color: #f5efe0;
    height: 35vh;
    display: flex;
    flex-direction: column;

}
.contact-icon {
    height: 100px;
    width: auto;
    padding: 25px
}