body {
      display: block;
      margin: 0px;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      background-color: #f6f6f7;
  }

/* Header and Hero Image */
  
header {
      text-align: center;
  }
h2 {
  color: #402523;
}

.navbar {
  margin: 25px auto;
  justify-content: center;
  }

nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: #402523;
    margin: 15px 15px 15px 15px;
  }

nav a:hover {
      color: #BF7069;
  }

.hero-image-background {
  height: 60vh;
  display: flex;
  background-color: #f5efe0;
  justify-content: center;
  align-items: center;
}

.hero-image {
  background-color: #f6f6f7;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 59px 0px rgba(64,37,35,0.65);
  -moz-box-shadow: 10px 10px 59px 0px rgba(64,37,35,0.65);
  box-shadow: 10px 10px 59px 0px rgba(64,37,35,0.65);
  border-radius: 18px;
  padding: 20px;
}

.hero-image a {
  text-decoration: none;
  color: #BF7069;
}

.hero-image a:hover {
  color: #402523
}

h1 {
 font-size: 2em;
  }

h3 {
  font-style: italic;
  font-size: large;
}

/* Skills Section */

.skills-container {
  margin: 25px auto;
}

.skills-container img {
  margin: 10px;
}

/* Portfolio Section */

.portfolio {
  background-color:#f5efe0;
  margin: 20px auto 20px auto;
  padding: 20px 0px 20px 0px;
}

.portfolio h2 {
  font-family: 'Bebas Neue', cursive;
}

.portfolio-cards {
      background-color: #f5efe0;
      padding-top: 10px;
  }

.card {
      margin: 20px auto 0px auto;
      border-radius: 5px;
      align-items: center;
  }
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

.hidden {
    display: none;
  }

.card-picture {
  max-width: 100%;
}

/* Footer */

  footer {
      background-color: #fff;
      margin: 20px auto 20px auto;
      padding-top: 20px;
      text-align: center;
  }

  .footer-nav a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: #402523;
    margin: 15px 15px 15px 15px;
  }

  .footer-nav a:hover {
    text-decoration: none;
    color: #BF7069;
  }

  