h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
}
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #BF7069;
    margin: 25px;
}

.resume:hover {
    color: #402523;
}

.skills-container {
    text-align: center;
}

