h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    text-align: center;
}
.resume {
    display: flex;
    justify-content: center;
    text-decoration: none;

    margin: 25px;
}

.skills-container {
    text-align: center;
}

